/* main.css */

pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}

#editor {
  outline: none;
  width: 90%;
  height: 80%;
  background-color: #ffffe0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Georgia", Times, serif;
}

.home-body {
  background-color: #cde7f0
}

.editor-body {
  background-color: #cde7f0
}

.home-button {
  color: #df0d32;
}
